
.button {
    color: $text-color-light;
    background: $active-color;
    border: none;
    font-size: 14px;
    padding: 13px 22px;
    border-radius: 5px;
    &:hover {
        box-shadow: 0 0 5px 1px $active-color;
    }
    &-o {
        background-color: transparent;
        color: $text-color-dark;
        border: 1px solid $text-color-dark;
        opacity: 0.5;
        margin-right: 12px;
    }
    img {
        vertical-align: middle;
    }
}
.button-big {
    padding-bottom: 20px;
    padding-top: 20px;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
@media (max-width: 992px) {
    .button {
        font-size: 11px;
        padding: 10px 18px;
    }
    .button-big {
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
    }
}
@media (max-width: 768px) {
    .header-contacts__button {
        font-size: 0;
    }
}
@media (max-width: 480px) {
    .button-big {
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
    }
    .header-contacts__button {
        display: none;
    }
}
