.clients {
    &-title {
        color: #313131;
        font-size: 27px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 17px;
        &__image {
            display: flex;
            justify-content: center;
            margin-bottom: 33px;
        }
    }
    &-body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 61px;
        &__item {
            display: flex;
            justify-content: center;
            flex-basis: 23%;
            align-items: center;
            vertical-align: middle;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 32px;
            height: 130px;
            &-1 {
                background: url(../img/clients_logos/client-logo__1-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__1.png) center center no-repeat;
                }
            }
            &-2 {
                background: url(../img/clients_logos/client-logo__2-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__2.png) center center no-repeat;
                }
            }
            &-3 {
                background: url(../img/clients_logos/client-logo__3-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__3.png) center center no-repeat;
                }
            }   
            &-4 {
                background: url(../img/clients_logos/client-logo__4-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__4.png) center center no-repeat;
                }
            }
            &-5 {
                background: url(../img/clients_logos/client-logo__5-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__5.png) center center no-repeat;
                }
            }   
            &-6 {
                background: url(../img/clients_logos/client-logo__6-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__6.png) center center no-repeat;
                }
            }   
            &-7 {
                background: url(../img/clients_logos/client-logo__7-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__7.png) center center no-repeat;
                }
            }   
            &-8 {
                background: url(../img/clients_logos/client-logo__8-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__8.png) center center no-repeat;
                }
            }   
            &-9 {
                background: url(../img/clients_logos/client-logo__9-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__9.png) center center no-repeat;
                }
            }   
            &-10 {
                background: url(../img/clients_logos/client-logo__10-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__10.png) center center no-repeat;
                }
            }   
            &-11 {
                background: url(../img/clients_logos/client-logo__11-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__11.png) center center no-repeat;
                }
            }   
            &-12 {
                background: url(../img/clients_logos/client-logo__12-bw.png) center center no-repeat;
                &:hover {
                    background: url(../img/clients_logos/client-logo__12.png) center center no-repeat;
                }
            }           
        }
    }
}
@media (max-width: 992px) {
    .clients-body__item {
        flex-basis: 31%;
    } 
}
@media (max-width: 768px) {
    .clients-body__item {
        flex-basis: 48%;
    } 
}
@media (max-width: 480px) {
    .clients-body__item {
        flex-basis: 100%;
    } 
}